<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Members">
      <div class="contact" *ngFor="let u of users">
        <nb-user [picture]="u.photoURL" [name]="u.title  + ' ' + u.firstName + ' ' + u.lastName" [title]="u.phoneNumber" size="large"></nb-user>
        <i class="i-contact nb-user"></i>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Recent">
      <div class="contact" *ngFor="let u of usersRec">
        <nb-user [picture]="u.photoURL" [name]="u.title  + ' ' + u.firstName + ' ' + u.lastName" [title]="u.phoneNumber" size="large"></nb-user>
        <span class="time">{{u.regDate}}</span>
      </div>
    </nb-tab>
    <!-- <nb-tab tabTitle="Graph">
        <div class="col-lg-12">
            <nb-card>
              <nb-card-header>Members</nb-card-header>
              <nb-card-body>
                <chart type="pie" [data]="data" [options]="options"></chart>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-12">
            <nb-card>-->
              <!-- <nb-card-header>Members</nb-card-header> -->
             <!-- <nb-card-body>
                  <chart type="bar" [data]="data2" [options]="options"></chart>
            </nb-card-body>
          </nb-card>
        </div>
    </nb-tab> -->
  </nb-tabset>
</nb-card>
