<nb-card>
    <nb-card-header>View Programs</nb-card-header>
    <nb-card-body>
        <div class="row">
         


            <div class="col-md-3 col-sm-12 col-xl-4 wd" *ngFor="let image of program">
        
        
                    <nb-card class="nb" size="medium" >
                      
                      <nb-card-body>
                         
                        <div class="view picture imgs" (click)="maximize(image)" data-toggle="modal" data-target="#product-dtl">
                       
                          <img class="picture imgs" src="{{ image?.imageURL }}" alt="">
                      
                        </div>

                      </nb-card-body>
                    
                    
                      <nb-card-footer id="fot">
                          <h3 style="font-size: 18px;">{{image?.imageTitle}}</h3>
                        <div class="row">
                            <div class="col">
                                <!-- <button type="button" class="btn btn-sm btn-info" id="max">Maximize</button> -->
                           <button type="button" class="btn btn-sm btn-info" (click)="maximize(image)" data-toggle="modal" data-target="#product-dtl" style="float: left;">Maximize</button>
                            </div>
                            <div class="col tra">
                                <!-- <i class="rem-icon fa fa-trash" id="tra" ></i> -->
                                <i class="rem-icon fa fa-trash"  id="tra" aria-hidden="true" (click)="onDeleteClick(image)" data-toggle="modal" data-target="#notification-delete-confirm"></i>        
                            </div>
                        </div>
                      </nb-card-footer>
                    </nb-card>
                    
                 
             
            
            
            
            
            
            
            
            
            
            
                  </div>

                  <ngx-notification (delEvent)="deleteItem()"></ngx-notification>

        </div>    
    </nb-card-body>
  </nb-card>