<nb-card>
    <nb-card-header>Complaints</nb-card-header>
    <nb-card-body>
      <div class="row">

        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Current State</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="ecn">External Case Number</label>
                      </div>
                      <input type="text" name="ecn" id="ecN"
                      [(ngModel)] = "ECN"
                      >
                  </div>

                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Misconduct Number</label>
                      </div>
                      <input type="text" name="mn" id="mN"
                      [(ngModel)] = "MN"
                      >
                  </div>

                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Case Type</label>
                      </div>
                      <select  [(ngModel)]="caseType" name="optionsCT">
                        <!-- <option>Select Type Of Case</option> -->
                        <option value="Bargaining Council">Bargaining Council</option>
                        <option value="CCMA">CCMA</option>
                        <option value="Departmental">Departmental</option>
                        <option value="High Court">High Court</option>
                        <option value="Internal Workplace">Internal Workplace</option>
                        <option value="Labour Court">Labour Court</option>
                      </select>
                  </div>

                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Case Status</label>
                      </div>
                      <select [(ngModel)] = "caseStatusCS" name="options">
                        <option>Select Case Status</option>
                        <option value="Appeal">Appeal</option>
                        <option value="Lost">Lost</option>
                        <option value="Pending">Pending</option>
                        <option value="Registered">Registered</option>
                        <option value="Successful">Successful</option>
                        <option value="Excluded">Excluded</option>
                        <option value="Closed">Closed</option>
                      </select>
                  </div>

                  <label style="margin: 10px;">Employee Representative</label>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Name</label>
                      </div>
                      <input type="text" name="ER1" id="mN"
                      [(ngModel)] = "ER1"
                      >
                  </div>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Contact Details</label>
                      </div>
                      <textarea name="message" [(ngModel)]="CD1">

                        </textarea>
                  </div>

                  <label style="margin: 10px;">Presiding Officer</label>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Name</label>
                      </div>
                      <input type="text" name="PO" id="mN"
                      [(ngModel)] = "PO"
                      >
                  </div>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Contact Details</label>
                      </div>
                      <textarea name="message" [(ngModel)]="CD2">

                        </textarea>
                  </div>

                  <label style="margin: 10px;">Employer Representative</label>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Name</label>
                      </div>
                      <input type="text" name="ER2" id="mN"
                      [(ngModel)] = "ER2"
                      >
                  </div>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Contact Details</label>
                      </div>
                      <textarea name="message" [(ngModel)]="CD3">

                      </textarea>
                  </div>

                  <label style="margin: 10px;">Witness</label>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Name</label>
                      </div>
                      <input type="text" name="Wi" id="mN"
                      [(ngModel)]="Wi"
                      >
                  </div>
                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Contact Details</label>
                      </div>
                    <textarea name="message" [(ngModel)]="CD4">

                    </textarea>
                  </div>

                  <label style="margin: 10px;">Summary</label>

                  <div style="margin: 10px;" class="input-group mb-12" >
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="mn">Description</label>
                      </div>
                    <textarea name="message" [(ngModel)]="Sum">

                    </textarea>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
              <button type="button" class="btn btn-outline-primary" (click)="currentSave()">Save</button>
            </div>
          </ng-template>






            <ng-template #future let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title1">Future State</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="ecn">External Case Number</label>
                          </div>
                          <input type="text" name="ecn1" id="ecN1"
                          [(ngModel)] = "ECN1"
                          >
                      </div>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Reference Number</label>
                          </div>
                          <input type="text" name="rn" id="rN"
                          [(ngModel)] = "rn"
                          >
                      </div>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Managed By</label>
                          </div>
                          <input type="text" name="mb" id="mB"
                          [(ngModel)] = "mb"
                          >
                      </div>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Case Type</label>
                          </div>
                          <select  [(ngModel)] = "caseType" name="optionsFS1">
                            <option>Select Type Of Case</option>
                            <option value="Bargaining Council">Bargaining Council</option>
                            <option value="CCMA">CCMA</option>
                            <option value="Departmental">Departmental</option>
                            <option value="High Court">High Court</option>
                            <option value="Internal Workplace">Internal Workplace</option>
                            <option value="Labour Court">Labour Court</option>
                          </select>
                      </div>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Matter Type</label>
                          </div>
                          <select>
                            <option>Select Type Of Matter</option>
                          </select>
                      </div>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Case Date</label>
                          </div>
                          <input type="date" name="date" id="mN"
                          [(ngModel)] = "caseDate"
                          >
                      </div>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Case Status</label>
                          </div>
                          <select  name="optionsFS2" [(ngModel)] = "caseStatus">
                            <option>Select Case Status</option>
                            <option value="Appeal">Appeal</option>
                            <option value="Lost">Lost</option>
                            <option value="Pending">Pending</option>
                            <option value="Registered">Registered</option>
                            <option value="Successful">Successful</option>
                            <option value="Excluded">Excluded</option>
                            <option value="Closed">Closed</option>
                          </select>
                      </div>

                      <label style="margin: 10px;">Parties 1</label>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Type</label>
                          </div>
                          <select [(ngModel)] = "party1" name="optionsP1">
                            <option>Select Type Of Party</option>
                            <option value="Complaint">Complaint</option>
                            <option value="Plaintiff">Plaintiff</option>
                            <option value="Applicant">Applicant</option>
                            <option value="Appellant">Appellant</option>
                            <option value="Employee">Employee</option>

                          </select>
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Name</label>
                          </div>
                          <input type="text" name="p1Name" id="mN"
                          [(ngModel)] = "p1Name"
                          >
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Contact Details</label>
                          </div>
                          <textarea name="p1Con" [(ngModel)]="p1Con" >

                            </textarea>
                      </div>

                      <label style="margin: 10px;">Employee Representative</label>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Name</label>
                          </div>
                          <input type="text" name="erName" id="mN"
                          [(ngModel)] = "erName"
                          >
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Contact Details</label>
                          </div>
                          <textarea  name="erCon" [(ngModel)]="erCon" >

                            </textarea>
                      </div>

                      <label style="margin: 10px;">Presiding Officer</label>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Name</label>
                          </div>
                          <input type="text" name="poName" id="mN"
                          [(ngModel)] = "poName"
                          >
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Contact Details</label>
                          </div>
                          <textarea  name="poCon" [(ngModel)]="poCon" >

                            </textarea>
                      </div>

                      <label style="margin: 10px;">Parties 2</label>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Type</label>
                          </div>
                          <select [(ngModel)] = "party2" name="optionsP2">
                            <option>Select Type Of Party</option>
                            <option value="Suspect">Suspect</option>
                            <option value="Accused">Accused</option>
                            <option value="Witness">Witness</option>
                            <option value="Defendant">Defendant</option>
                            <option value="Respondent">Respondent</option>
                            <option value="Employer">Employer</option>
                          </select>
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Name</label>
                          </div>
                          <input type="text" name="p2Name" id="mN"
                          [(ngModel)] = "p2Name"
                          >
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Contact Details</label>
                          </div>
                          <textarea  name="p2Con" [(ngModel)]="p2Con" >

                            </textarea>
                      </div>

                      <label style="margin: 10px;">Witness</label>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Name</label>
                          </div>
                          <input type="text" name="wName" id="mN"
                          [(ngModel)] = "wName"
                          >
                      </div>
                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Contact Details</label>
                          </div>
                        <textarea  name="wCon" [(ngModel)]="wCon" >

                        </textarea>
                      </div>

                      <label style="margin: 10px;">Summary</label>

                      <div style="margin: 10px;" class="input-group mb-12" >
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="mn">Description</label>
                          </div>
                        <textarea  name="desc" [(ngModel)]="desc" >

                        </textarea>
                      </div>



                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="futureSave()">Save</button>
                </div>
              </ng-template>















            <button class="btn  btn-outline-primary" (click)="open(content)">Current State</button>
            <button class="btn  btn-outline-primary" (click)="open1(future)">Future State</button>







        <nb-tabset fullWidth>
          <nb-tab tabTitle="Recent Cases">

             <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="casePop()" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
          </nb-tab>
          <nb-tab tabTitle="All Cases">

              <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
              </ng2-smart-table>

          </nb-tab>
        </nb-tabset>



      </div>
    </nb-card-body>
  </nb-card>
